#myCanvas {
    border: 1px solid #000000;
    position: fixed;
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#RetaBotao {
    position: fixed;
    right: 30%;
    top: 70%;
    transform: translate(-50%, -50%);

} 

#poligonoBotao {
    position: fixed;
    right: 15%;
    top: 70%;
    transform: translate(-50%, -50%);
}

.meu-botao {
    background-color: #1b1b1b;
    border: none;
    color: white; 
    padding: 15px 32px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Sem sublinhado */
    display: inline-block; /* Exibir como um bloco */
    font-size: 16px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margem externa */
    cursor: pointer; /* Cursor do mouse */
    border-radius: 8px; 
  }
  
  .meu-botao:hover {
    background-color: #25004e; /* Cor de fundo ao passar o mouse */
  }
  