

html {
  font-family: Arial;
  font-size: 1.1em;
  background: #8a8a8a;
}

@media (min-width: 768px) {
  .sidebar {
    width: 17%;
    left: 0;
    top: 0;
    height: 100vh;
    background: #2c2c2c;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    position: fixed;
  }

  .main {
    width: 83%;
    background: #8a8a8a;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: static;
    background: #2c2c2c;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
  }

  .main {
    width: 100%;
    background: #8a8a8a;
    position: static;
  }
}


.sidebar ul {
  margin-top: 80px;
  text-align: left;
  top: 30%;
  font-weight: bold;
  list-style-type: none;

}

.sidebar ul li {
  padding: 20px 0;
  margin: 20px;
}

.sidebar ul li a {

  position: relative;
  display: block;
  padding: 18px 0;
  font-size: 1em;
  font-family: 'open_sansregular';
  color: #fff0f0;
  text-decoration: none;
  text-align: left;
  transition: 0.5s;

}

.sidebar ul li a::after {

  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 70%;
  height: 2px;
  background: #3be2ff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.sidebar ul li a:hover {
  color: #aaaaaa;
}

.sidebar ul li a:hover::after {

  transform: scaleX(1);
  transform-origin: left;

}


.imagem { 
  display: block;
  margin: 40px auto 0;
  width: 200px;
  height: 200px;
  border-radius: 80%; 
}


footer {
  display: flex;
  justify-content: center;
}

footer a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  margin-top: 150px;
  text-align: center;
  color: #fff0f0;
  text-decoration: none;
}

footer a img {
  width: 45px;
  height: 45px;
}
