body {
    background-color: #8a8a8a;
}

main h1 {
    text-align: center;
    color: white;
    font-size: 3.0em;
    margin-bottom: 70px;
}

main p {
    text-align: justify;
    color: rgb(243, 243, 243);
    font-size: 1.5em;
    margin: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main section {
    margin-top: 50px;
}